@import "_partials/typho.css";
@import "_partials/debug.css";
@import "_partials/common.css";

/* !componenets */
@import "../components/icon-separator.css";
@import "../components/social-icon.css";

/*
?------------
!PALETTE 
?------------
*/

:root {
  --dark-blue-600: rgb(44, 62, 80);
  --jumbo-bg: rgb(26, 188, 156);
  --section-title: rgb(51, 51, 51);
  --dark-blue-400: rgb(58, 84, 109);
}

/*
?------------
!HEADER 
?------------
*/
header {
  background-color: var(--dark-blue-600);
}

/*
?------------
!MAIN 
?------------
*/
/* !contact me */
.-lc-contact-me .-lc-textarea {
  height: 200px;
}
.-lc-contact-me .-lc-form-btn {
  background-color: var(--jumbo-bg);
}

/*
?------------
!FOOTER 
?------------
*/
/* !top-footer */
footer .-lc-top-footer {
  background-color: var(--dark-blue-600);
}
/* !bottom-footer */
footer .-lc-bottom-footer {
  background-color: var(--dark-blue-400);
}
