@import "_partials/typho.css";
@import "_partials/debug.css";

/*
?------------
!PALETTE 
?------------
 */

:root {
  --header-bg: #2c3e50;
  --jumbo-bg: #1abc9c;
  --section-title: #333333;
  --footer-bg: #3a546d;
}

/*
?------------
!HEADER 
?------------
*/
header {
  background-color: var(--header-bg);
  height: 90px;
}

/*
?------------
!MAIN 
?------------
*/
/* !jumbotron */
main .-ms-jumbo {
  background-color: var(--jumbo-bg);
}
