.-lc-icon-separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.-lc-icon-separator > * {
  padding: 25px;
}
.-lc-icon-separator::before,
.-lc-icon-separator::after {
  content: "";
  display: inline-block;
  background: currentColor;
  height: 4px;
  width: 14vw;
  border-radius: 2px;
}

/* 
?HTML
          <!-- separatore -->
          <div class="-lc-icon-separator mb-4 fs-2">
            <i class="fa-solid fa-star"></i>
          </div>
          <!-- separatore/ -->
*/
