/* !TODO cambio var(--social-icon-size) e var(--social-icon-bw) per vari casi */

.-lc-socials-icon {
  display: inline-block;
  border-width: var(--social-icon-bw, 0.0625rem);
  border-style: solid;
  border-color: currentColor;
  text-align: center;
  line-height: calc(
    var(--social-icon-size, 3.4375rem) - 2 * var(--social-icon-bw, 0.0625rem)
  );
  width: var(--social-icon-size, 3.4375rem);
  height: var(--social-icon-size, 3.4375rem);
  border-radius: 50%;
  color: inherit;
  font-size: calc(0.3 * var(--social-icon-size, 3.4375rem));
}

/* 
!html
                  <a href="index.html" class="-lc-socials-icon">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
*/
